.container {
  width: 100%;
  height: 2100px;
}

header {
  height: 515px;
  background: url(images/header.jpg);
}

.top {
  padding-bottom: 100px;
  margin: auto;
}

.logoblog {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  float: left;
  position: relative;
  margin-left: 150px;
  margin-top: 10px;
}

.aboutsearch {
  display: inline-block;
  float: right;
  position: relative;
  color: #07304A;
  margin-right: 155px;
}

.aboutsearch h4 {
  font-family: 'Oswald', sans-serif;
  font-size: large;
  font-weight: 200px;
  margin-left: 10px;
}

.center {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
}

.center h1 {
  color: white;
  font-size: 100px;
  font-weight: bold;
  padding-bottom: 0px;
  margin: auto;
}

.center h5 {
  color: #0B3654;
  font-weight: 10px;
  margin-top: 0;
}

.middle {
  width: 100%;
  margin: auto;
  position: absolute;
}

.leftmargin {
  width: 10%;
  height: 1008px
  float: left;
}

.rightmargin {
  width: 10%;
  height: 1008px;
  float: right;
}

.middle h2 {
  color: #0A3451;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 4.5em;
  padding: 0px;
  margin-top: 64px;
}

.article {
  float: relative;
  width: 54%;
}

.entrybody p {
  color: #677077;
}

.popposts {
  width: 100%;
  height: 480px;
  border-top: 2px solid #E4E9EC;
  position: relative;
}

.popposts h2 {
  color: #0A3451;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 4em;
  padding: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

/*.popposts.posts {
  height: 330px;
  position: relative;
  float: left;
}
*/
#post1 {
  height: 330px;
  position: relative;
  float: left;
/*  width: 24.38%;*/
  width: 320px;
  background: url(images/article-image-1.jpg);
}

#post2 {
  height: 330px;
  position: relative;
  float: left;
/*  width: 25.23%;*/
  width: 320px;
  background: url(images/article-image-2.jpg);
}

#post3 {
  height: 330px;
  position: relative;
  float: left;
/*  width: 25.63%;*/
  width: 320px;
  background: url(images/article-image-3.jpg);
}

#post4 {
  height: 330px;
  position: relative;
  float: left;
/*  width: 24.76%;*/
  width: 320px;
  background: url(images/article-image-4.jpg);
}

footer {
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
  text-align: center;
  background-color: #083452;
}
