header {
  width: 100%;
  height: 515px;
  background: url(images/header.jpg);
  position: absolute;
}

.top {
  padding-bottom: 100px;
}

.logoblog {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  float: left;
  position: relative;
  margin-left: 150px;
  margin-top: 10px;
}

.aboutsearch {
  display: inline-block;
  float: right;
  position: relative;
  color: #07304A;
  margin-right: 155px;
}

.aboutsearch h4 {
  font-family: 'Oswald', sans-serif;
  font-size: large;
  font-weight: 200px;
  margin-left: 10px;
}

.center {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
}

.center h1 {
  color: white;
  font-size: 100px;
  font-weight: bold;
  padding-bottom: 0px;
  margin: auto;
}

.center h5 {
  color: #0B3654;
  font-weight: 10px;
  margin-top: 0;
}

.blogentry {
  margin: auto;
}

footer {
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
  text-align: center;
  background-color: #345;
}
