.container {
  position: relative;
}

/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

/*TOP*/

header {
  height: 515px;
  background: url(images/header.jpg);
}

.top {
  width: 100%;
  padding-bottom: 100px;
  margin: auto;
}

.logoblog {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  float: left;
  position: relative;
  margin-left: 138px;
  margin-top: 10px;
}

.logoblog img {
  float: left;
  margin-right: 5px;
}

.logoblog h4 {
  float: left;
  margin: 10px;
  color: #0A3450;
  font-size: 0.9em;
  font-weight: bolder;
}

.aboutsearch {
  display: inline-block;
  float: right;
  position: relative;
  color: #07304A;
  margin-right: 154px;
  padding-top: 10px;
}

.aboutsearch h4 {
  font-family: 'Oswald', sans-serif;
  font-size: large;
  font-weight: 150px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}

.aboutsearch img {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.center {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 80px;
}

.center h1 {
  color: white;
  font-size: 100px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 21px;
  margin-right: 10px;
  margin-bottom: 0;
}

.center h4 {
  color: #0B3654;
  font-size: medium;
  font-weight: bolder;
  padding-top: 0;
  margin-top: 0;
  margin-left: -12px;
}

/*MIDDLE*/

.middle {
  width: 100%;
  position: relative;
  float: left;
}

.leftmargin {
  width: 10%;
  height: 1008px;
  float: left;
  position: relative;
}

.rightmargin {
  width: 10%;
  height: 1008px;
  float: right;
  position: relative;
}

.blogentry {
  position: relative;
}

article h2 {
  color: #0A3451;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 4.5em;
  padding: 0px;
  margin-top: 64px;
}

article {
  float: left;
  width: 54%;
}

.entrybody p {
  color: #677177;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

/*LOWER MIDDLE*/

.lowermiddle {
  width: 100%;
  height: 480px;
  border-top: 2px solid #E4E9EC;
  position: relative;
  float: left;
}

.lowermiddle h2 {
  width: 100%;
  color: #0A3451;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 4em;
  margin-top: 25px;
  margin-bottom: 32px;
  text-align: center;
}

/*.middle:after {
  clear: left;
  content: "";
  display: block;
}*/

.posts {
  width: 100%;
  height: 330px;
  position: relative;
  float: left;
}

.post {
  height: 100%;
  float: left;
  position: relative;
}

.post:after {
  background: #1E73B6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .7;
  content: "";
}

.post:hover:after {
  opacity: 0;
  color: white;
}

.posttitle {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: black;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/*
.posttitle:hover:after {
  font-size: 100em;
  color: white;
}
*/

#a.post {
  width: 24.38%;
  background-image: url(images/article-image-1.jpg);
}

#a1.posttitle:hover:after{
  color: white;
}

#b.post {
  width: 25.23%;
  background-image: url(images/article-image-2.jpg);
}

#c.post {
  width: 25.63%;
  background-image: url(images/article-image-3.jpg);
}

#d.post {
  width: 24.76%;
  background-image: url(images/article-image-4.jpg);
}

/*.posts:after {
  clear: left;
  content: "";
  display: block;
}*/

/*BOTTOM*/

.bottom {
  width: 100%;
  height: 95px;
  line-height: 50px;
  background-color: #083452;
  position: relative;
  float: left;
}

footer {
  display: inline-block;
  position: absolute;
  float: left;
  margin-top: 7px;
  margin-left: 165px;
  background-color: #083452;
  font-size: .81em;
  text-align: center;
  color: #9DADB9;
}

footer img {
  margin-right: 10px;
  margin-top: 18px;
}

footer span {
  margin: auto;
}

nav {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 165px;
  margin-top: 35px;
}

nav a {
  text-decoration: none;
  color: #9DADB9;
  border-right: 1px solid #9DADB9;
  padding-right: 4px;
  margin: 0;
}
